django==1.6
fabric
django-debug-toolbar
newrelic
pytz
south

-e git+ssh://git@bitbucket.org/thirstydigital/turbia.git@master#egg=turbia

-e .

# -e git+ssh://git@bitbucket.org/thirstydigital/turbia-grinner.git@master#egg=turbia-grinner
# -e git+ssh://git@bitbucket.org/thirstydigital/turbia-genericforms.git@master#egg=turbia-genericforms
# python-dateutil
